<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Poppins", sans-serif
        }

        body {
            font-size: 16px;
        }

        .w3-half img {
            margin-bottom: -6px;
            margin-top: 16px;
            opacity: 0.8;
            cursor: pointer
        }

            .w3-half img:hover {
                opacity: 1
            }
    </style>
</head>
<body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar">
        <br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
        <div class="w3-container">
            <h3 class="w3-padding-64"><b>Libreria<br>Leopoldo Marechal</b></h3>
        </div>
        <div class="w3-bar-block">
            <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
            <a href="~/Libro/Mostrar" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Libros</a>
            <a href="~/Autor/Mostrar" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Autores</a>
            <a href="~/Genero/Mostrar" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Generos</a>
            <a href="~/Libro/Buscar" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Buscar</a>
            <a href="~/Autor/Mostrar" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">EXTRA</a>
        </div>
    </nav>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo"><b>Libreria <br /> LEOPOLDO MARECHAL</b></h1>
            <h1 class="w3-xxxlarge"><b>Toda clase de libros!</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>

        <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
            <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
            </div>
        </div>

        <!-- LIBROS -->
        <div class="w3-container" id="designers" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Libros.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <button id="btnMostrarLibros" class="btn-primary">Ver Libros</button>
            <button id="btnAgregarLibro" class="navbar-btn">Solicitar nuevo libro</button>
            <button id="btnModificarLibro" class="navbar-btn">Solicitar modificacion de libro</button>
            <p>
                En nuestra biblioteca podras encontrar una enorme cantidad de libros de todo tipo, tanto de ambito academico, como novelas, cuentos, poesias, etc... Dia a dia seguimos añadiendo libros a nuestro repertorio y tomamos sugerencias.
            </p>
            <p><b>Libros mas destacados de nuestra biblioteca</b>:</p>
        </div>

        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Rayuela</h3>
                        <p class="w3-opacity">Julio Cortazar</p>
                        <p>Sinopsis: Contar el argumento de Rayuela de una manera lineal es, con toda seguridad, un reduccionismo que aleja al lector del sentido de la obra, pues excluye el vasto universo psicológico de los personajes y las complejas relaciones de estos con temas como el amor, la muerte, los celos y el arte, entre otros.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Asesinato en el Orient Express</h3>
                        <p class="w3-opacity">Agatha Christie</p>
                        <p>Sinopsis: Durante un trayecto del lujoso tren Orient-Express se produce un asesinato. Cuando una avalancha detiene el tren, el prestigioso detective belga Hércules Poirot sube al vehículo para investigar quién es el asesino, pero todos los pasajeros parecen sospechosos, debera averiguar quien lo hizo..</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>La divina comedia</h3>
                        <p class="w3-opacity">Dante Alighieri</p>
                        <p>La divina comedia es un poema alegórico que consta de tres partes: El infierno, El purgatorio y el Paraíso. Para llegar a la felicidad humana y religiosa (paraíso) es preciso seguir un camino que obliga a pasar por el rechazo del pecado (infierno) y la purificación del arrepentimiento (purgatorio).</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- AUTORES -->
        <div class="w3-container" id="designers" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Autores.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <button id="btnMostrarAutores" class="btn-primary">Ver Autores</button>
            <button id="btnAgregarAutor" class="navbar-btn">Solicitar nuevo autor</button>
            <button id="btnModificarAutor" class="navbar-btn">Solicitar modificacion de autor</button>
            <p>
                Poseemos un largo abanico de escritores nacionales e internacionales, tanto como autores con contenido de lectura academica o lectura recreativa, podras encontrar la elite de la literatura tanto antigua como contemporanea, asi como creadores de libros importantes en la historia de la literatura entre ellos podras encontrar a los siguientes:
            </p>
            <p><b>Autores destacados de la biblioteca</b>:</p>
        </div>

        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Jorge Borges</h3>
                        <p class="w3-opacity">Escritor argentino</p>
                        <p>Fue un erudito escritor argentino, considerado uno de los más destacados de la literatura del siglo XX. Galardonado con numerosos premios, fue también polémico por sus posturas políticas de corte conservador, que pudieron ser óbice para ganar el Premio Nobel de Literatura.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Agatha Christie</h3>
                        <p class="w3-opacity">Escritora britanica</p>
                        <p>Fue una escritora y dramaturga británica especializada en el género policial, por cuyo trabajo tuvo reconocimiento a nivel internacional.1​ A lo largo de su carrera, publicó 66 novelas policiales, 6 novelas rosas y 14 historias cortas además de incursionar como autora teatral.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Julio Cortazar</h3>
                        <p class="w3-opacity">Escritor argentino</p>
                        <p>Es considerado uno de los autores más innovadores y originales de su tiempo, creador de importantes novelas que inauguraron una nueva forma de hacer literatura en el mundo hispano, rompiendo los moldes clásicos mediante narraciones que escapan de la linealidad temporal.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- GENEROS -->
        <div class="w3-container" id="designers" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Generos.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <button id="btnMostrarAutores" class="btn-primary">Ver Generos</button>
            <button id="btnAgregarAutor" class="navbar-btn">Solicitar nuevo genero</button>
            <p>
                Poseemos un largo abanico de escritores nacionales e internacionales, tanto como autores con contenido de lectura academica o lectura recreativa, podras encontrar la elite de la literatura tanto antigua como contemporanea, asi como creadores de libros importantes en la historia de la literatura entre ellos podras encontrar a los siguientes:
            </p>
            <p><b>Autores destacados de la biblioteca</b>:</p>
        </div>

        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Jorge Borges</h3>
                        <p class="w3-opacity">Escritor argentino</p>
                        <p>Fue un erudito escritor argentino, considerado uno de los más destacados de la literatura del siglo XX. Galardonado con numerosos premios, fue también polémico por sus posturas políticas de corte conservador, que pudieron ser óbice para ganar el Premio Nobel de Literatura.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Agatha Christie</h3>
                        <p class="w3-opacity">Escritora britanica</p>
                        <p>Fue una escritora y dramaturga británica especializada en el género policial, por cuyo trabajo tuvo reconocimiento a nivel internacional.1​ A lo largo de su carrera, publicó 66 novelas policiales, 6 novelas rosas y 14 historias cortas además de incursionar como autora teatral.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="w3-container">
                        <h3>Julio Cortazar</h3>
                        <p class="w3-opacity">Escritor argentino</p>
                        <p>Es considerado uno de los autores más innovadores y originales de su tiempo, creador de importantes novelas que inauguraron una nueva forma de hacer literatura en el mundo hispano, rompiendo los moldes clásicos mediante narraciones que escapan de la linealidad temporal.</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Contact -->
        <div class="w3-container" id="contact" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
            <form action="/action_page.php" target="_blank">
                <div class="w3-section">
                    <label>Name</label>
                    <input class="w3-input w3-border" type="text" name="Name" required>
                </div>
                <div class="w3-section">
                    <label>Email</label>
                    <input class="w3-input w3-border" type="text" name="Email" required>
                </div>
                <div class="w3-section">
                    <label>Message</label>
                    <input class="w3-input w3-border" type="text" name="Message" required>
                </div>
                <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
            </form>
        </div>

        <!-- End page content -->
    </div>

    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>

    <script src="~/Scripts/menu.js"></script>

</body>
</html>