* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

    body > header {
        display: flex;
        padding: 0.5rem 1rem;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: grey;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }

        body > header button {
            background-color: transparent;
            border: none;
            position: relative;
            z-index: 9999;
            color: white;
        }

    body > nav {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        height: 100%;
    }

        body > nav a {
            color: white;
            text-decoration: none;
            margin-left: 1rem;
        }

    body > main {
        flex-grow: 1;
        padding: 1rem;
    }

    body > footer {
        background-color: grey;
        text-align: center;
        padding: 1rem;
    }

.abierto {
    left: 0;
}

main {
    text-align-last: center;
    text-align: center;
}
